# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
resources/
www/
$RECYCLE.BIN/
res/
validate/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

*.apk
env.sh

# ignore keystore
release-key.keystore
inteligas.jks
package-lock.json


/node_modules
/yarn.lock
