<ion-header *ngIf="_firstStatus === 'form'">
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <section class="page-wrapper travels">

        <!-- Intelivijaes logo -->
        <div class="travels__row travels__center">
            <img class="first__logo" src="assets/logo-inteliviajes.svg">
        </div>

        <!-- first form content -->
        <div class="first__form" *ngIf="_firstStatus === 'form'">
            <!-- first password instructions -->
            <div class="travels__row first__title">Cambia tu contraseña</div>

            <!-- Intructions -->
            <div class="travels__row first__instructions">
                Ingresa tu nueva contraseña debe tener 8 caractéres no
                repetidos ni consecuentes.
            </div>

            <!-- Form login -->
            <div class="travels__row travels__center">
                <form
                    id="formfirst"
                    [formGroup]="_formFirstGroup"
                    (ngSubmit)="changeFirstPassword()"
                    novalidate>

                    <input
                        type="password"
                        placeholder="Nueva contraseña"
                        id="password"
                        name="password"
                        formControlName="password">

                    <div class="travels__row travels__center">
                        <button
                            type="button"
                            name="buttonfirst"
                            (click)="changeFirstPassword()"
                            class="first__button"
                            [disabled]="!_formFirstGroup.valid || _loading">
                            {{ _firstButtonText }}
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- first success message -->
        <div class="first__success" *ngIf="_firstStatus === 'success'">
            <!-- first password instructions -->
            <div class="travels__row first__title">¡Muy bien!</div>

            <!-- Intructions -->
            <div class="travels__row first__instructions">
                Tu contraseña ha cambiado, vuelve a iniciar sesión para
                disfrutar de Inteliviajes.
            </div>

            <div class="travels__row travels__center">
                <button
                    type="button"
                    name="buttonSuccess"
                    (click)="goLogin()"
                    class="first__button">
                    Regresar
                </button>
            </div>
        </div>


    </section>
</ion-content>
